 language: python
 
 python:
    - "2.7"

 env:
   - lpthw.web
   
 # add PostgreSQL database
 addons:
   postgresql: "9.3"
   
 #command to install dependencies
 install:
   - pip install lpthw.web
   - pip install requests
   - pip install BeautifulSoup4
   - pip install lxml
   - pip install testing.postgresql
   - pip install sqlalchemy
   - pip install -r requirements.txt 
   
 before_script:
   - psql -c 'create database travis_ci_test;' -U postgres
   - psql -c 'create database subscribe;' -U postgres
 
   
 # command to run tests
 script: 
   - python tests/modelCragList_development_test.py -v
   - python tests/modelkbb_development_test.py -v
   

deploy:
  provider: heroku
  api_key: 2de4705a-1434-4c0f-b378-d58183479fac
