<form class="form-signin" style="max-width: 350px; padding: 15px; margin: 0 auto;" action="/subscribe" method="POST">
	<h1 class="form-signin-heading">Subscribe Now</h1>
    
    <!--username-->
    <label for="inputUserName" class="sr-only">User Name</label>
   	<input type="text" name="username" id="inputUserName" class="form-control" placeholder="User Name" required="" autofocus="">
    <br/>
    
    <!--make-->
    <label for="inputMake" class="sr-only">Car Make</label>
	<input type="text" name="make" id="inputMake" class="form-control" placeholder="Car Make" required="" autofocus="">    
    <br/>
    
    <!--model-->
    <label for="inputModel" class="sr-only">Car Model</label>   
    <input type="text" name="model" id="inputModel" class="form-control" placeholder="Car Model" required="" autofocus="">
    <br/>
     
    <!--year-->
    <label for="inputEmail" class="sr-only">Car Year</label>
	<input type="text" name="year" id="inputYear" class="form-control" placeholder="Car Year" required="" autofocus="">    
    <br/>
    
    <!--email-->
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <br/>
    <input type="submit" class="btn btn-lg btn-primary btn-block">
</form>
