<form class="form-signin" style="max-width: 450px; padding: 15px; margin: 0 auto;" action="/" method="POST">
	<h1 class="form-signin-heading">Subscribe Now</h1>
    <h6></h6>
    <!--username-->
    <label for="inputUserName" class="sr-only">User Name</label>
   	<input type="text" name="username" id="inputUserName" class="form-control" placeholder="User Name" required="" autofocus="">
    <h6></h6>

    <!--make-->
    <label for="inputMake" class="sr-only">Car Make</label>
	<input type="text" name="make" id="inputMake" class="form-control" placeholder="Car Make" required="" autofocus="">    
    <h6></h6>
    
    <!--model-->
    <label for="inputModel" class="sr-only">Car Model</label>   
    <input type="text" name="model" id="inputModel" class="form-control" placeholder="Car Model" required="" autofocus="">
    <h6></h6>

    <!--javascript should put after the label and input-->
    <script>
    jQuery(document).ready(function() {
        jQuery('#inputMake').autocomplete({
          source:  function(request, response) {
                jQuery.ajax({
                    type: "GET",
                    url: "static/makeData.csv",
                    dataType: "text",
                    success: function(data) {
                        var makeData = jQuery.csv.toArray(data); 
                        var matcher = new RegExp( "\\b" + jQuery.ui.autocomplete.escapeRegex( request.term ), "i" );
                        response( jQuery.grep( makeData, function( item ){
                            return matcher.test( item );
                        }));
                    }
                });
            },
        });

        jQuery('#inputModel').autocomplete({
          source:  function(request, response) {
                jQuery.ajax({
                    type: "GET",
                    url: "static/modelData.csv",
                    dataType: "text",
                    success: function(data) {
                        var modelData = jQuery.csv.toArray(data); 
                        var matcher = new RegExp( "\\b" + jQuery.ui.autocomplete.escapeRegex( request.term ), "i" );
                        response( jQuery.grep( modelData, function( item ){
                            return matcher.test( item );
                        }));
                    }
                });
            },
        });
    });

    //jQuery('#inputMake').autocomplete( "option", "delay", 0 );
    //jQuery('#inputModel').autocomplete( "option", "delay", 0 );
    </script>    

    <!--year-->
    <label for="inputstartYear" class="sr-only">Start Year</label>
    <input type="number" name="minYear" id="inputstartYear" class="form-control" placeholder="Start Year (1909~2015)" min="1909" max="2015" required="" autofocus="">    
    <h6></h6>
    <label for="inputendYear" class="sr-only">End Year</label>
    <input type="number" name="maxYear" id="inputendYear" class="form-control" placeholder="End Year (1909~2015)" min="1909" max="2015" required="" autofocus=""> 
    <h6></h6>
    <!--price-->
    <label for="inputMinPrice" class="sr-only">Min Price</label>
    <input type="number" name="minPrice" id="inputMinPrice" class="form-control" placeholder="Min Price (500~1000000)" min="500" max="1000000" required="" autofocus="">    
    <h6></h6>
    <label for="inputMaxPrice" class="sr-only">Max Price</label>
    <input type="number" name="maxPrice" id="inputMaxPrice" class="form-control" placeholder="Max Price (500~1000000)" min="500" max="1000000" required="" autofocus="">
    <h6></h6>
    <!--email-->
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
    <h6></h6>
    <input type="submit" value="Submit" class="btn btn-lg btn-primary btn-block">
</form>
